# Arquivos de Build e dependências
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build-*.log

# Arquivos de IDEs
.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/

# Arquivos de Log
*.log

# Arquivos de ambiente local - NÃO ENVIE PARA O GIT
.env